.container {
  width: 1100px;
  margin: 0 auto;
}

#header {}
.top__box {
  background-color: #FAFAFA;
}
/* .header__top */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top .naver__blog {}
.header__top .naver__blog a {}
.header__top .naver__blog a img {}
.header__top .logout {}

/* .header__bottom */
.header__bottom {}
.header__bottom .bottom__box {
  display: flex;
  justify-content: space-between;
}
.header__bottom .logo {}
.header__bottom .logo img {}

.header__bottom .menu {
  display: flex;
  align-items: flex-end;
}
.header__bottom .menu > li {
  position: relative;
  padding: 0 15px;
}
.header__bottom .menu > li > a {
  position: relative;
  display: inline-block;
  
  font-weight: bold;
}
.header__bottom .menu > li:first-child > a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -8px;
}
.header__bottom .menu > li > .sub__menu {
  display: none; 
  position: absolute;
  top: 20px;
  left: 10px;
}
.header__bottom .menu > li > .sub__menu > li {
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.header__bottom .menu > li > .sub__menu > li > a:hover {
  background-color: #ED1C24;
  color: #fff;
}
.header__bottom .menu > li > .sub__menu > li > a {
  font-size: 15px;
}


#main {}

/* #discount */
#discount {
  padding-top: 60px;
}
#discount .container {
  display: flex;
  text-align: center;
  justify-content: flex-end;
}
.discount__left {
  width: 85%;
}
.discount__left h2 {
  font-size: 30px;
}
.discount__left p {
  padding: 15px 0;
  font-size: 16px;
}
.discount__left a {
  display: block;
  margin-right: 25px;
}
.discount a {
  display: block;
}

/* #company */
#company {
  padding-top: 40px;
}
#company .container {
  display: flex;
  
}
.company__left {}
.company__left img {}
.company__right {}
.company__right img {}

/* #quesition */
#quesition {}
#quesition .container {
  display: flex;
  /* justify-content: space-between; */
}
.quesition__quote {
  padding-right: 5px;
}
.quesition__location {
  padding-right: 5px;
}
.quesition__cs {}

/* #product */
#product {
  padding-top: 65px;
}
#product .container {
  position: relative;
}
.product__desc {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 35px;
}
#product .title__box {
  display: flex;
  justify-content: space-between;
}
#product .product__more {
  color: #979797;
}
#product h2 {

}
#product p {
  position: relative;
  padding-left: 25px;
  color: #686868;
  font-weight: bold;
}
#product p::before {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  left: 15px;
  top: 3px;
  background-color: #000;
}

.product__wrap {}
.product__list {
  display: flex;
  /* justify-content: space-between; */
}
#product2 .title__box2 {
  display: flex;
  justify-content: space-between;
}
#product2 .product__more2 {
  color: #979797;
}
.product__list .list1 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
  margin-left: 15px;
}
.product__list .list2 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
}
.product__list .list3 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
}
.product__list .list4 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
}
.product-next {
  position: absolute;
  left: -10px;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  /* transform: translateY(-50%); */
} 
.product-right {
  position: absolute;
  right: -10px;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  /* transform: translate(-50%); */
} 

/* #product2 */
#product2 {
  padding: 65px 0;
}
#product2 .container {
  position: relative;
}
.product__desc2 {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 35px;
}
#product2 h2 {
  font-size: 30px;
}
#product2 p {
  position: relative;
  padding-left: 25px;
  color: #686868;
  font-weight: bold;
  font-size: 16px;
}
#product2 p::before {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  left: 15px;
  top: 3px;
  background-color: #000;
}

.product__wrap2 {}
.product__list2 {
  display: flex;
  justify-content: center;
}
.product__list2 .list1 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
  margin-left: 15px;
}
.product__list2 .list2 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
}
.product__list2 .list3 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
}
.product__list2 .list4 {
  width: 260px;
  height: 245px;
  background-color: #000;
  margin-right: 15px;
}
.product-next2 {
  position: absolute;
  left: -10px;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  /* transform: translate(-50%); */
} 
.product-right2 {
  position: absolute;
  right: -10px;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  /* transform: translate(-50%); */
} 

/* #footer */
#footer {
  background-color: #EEEEF0;
  padding: 25px 0;
} 
.footer__top {
  display: flex;
}
.footer__top li {
  position: relative;
  padding-right: 15px;
}
.footer__top li::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 5px;
  width: 1px;
  height: 15px;
  background-color: #000;
}
.footer__top li:last-child::after{
  display: none;
}

.footer__bottom {
  display: flex;
  padding: 5px 0;
}
.footer__bottom li {
  position: relative;
  padding-right: 25px;
}
.footer__bottom li::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 5px;
  width: 1px;
  height: 15px;
  background-color: #000;
}
.footer__bottom li:first-child::after{
  right: 7px;
}
.footer__bottom li:nth-child(2)::after{
  right: 7px;
}
.footer__bottom li:last-child::after{
  display: none;
}
#footer .copyright {
  padding-top: 5px;
}



.active {
  display: block;
}
 /* slider__wrap */
 .slider__wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 /* 이미지가 보이는 영역 */
 .slider__img {
  position: relative;
  width: 100%;
  height: 520px;
  overflow: hidden;
 }
 /* 전체 이미지를 감싸고 있는 부모 : 움직이는 영역 */
 .slider__inner {
  display: flex;
  flex-wrap: wrap;
  width: 200%;
  height: 520px;
 }
 /* 개별적인 이미지 */
 .slider {
  position: relative;
  width: 100%;
  height: 520px;
 }
 #header li a {
  line-height: 27px;  
  font-size: 19px;
  margin-bottom: 20px;    
 }
 .slider__btn a {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #f0a9f7;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.3s ease;
 }
 .slider__btn a:hover {
  border-radius: 50%;
  background-color:antiquewhite;
  color: #fff;
 }
 .slider__btn a.prev {
  left: 0;
 }
 .slider__btn a.next {
  right: 0;
 }
 .slider__dot {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
 }
 .slider__dot .dot {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);;
  display: inline-block;
  border-radius: 50%;
  text-indent: -9999px;
  transition: all 0.3s;
  margin: 3px;
 }
 .slider__dot .dot.active {
  background-color: #fff;
 }